<div class="text-center">
    <h1 class="display-4">Mi nombr es  @Model.Nombre tengo @Model.Edad años</h1>
    <h2>Son un profesional desarrollador de software y experto en Tecnologías de la Información</h2>
    <img id="foto"
         src="~/imagenes/foto.jpg" alt="Foto Juan" />
</div>
<div class="text-center">
    <img id="asp" src="~/imagenes/asp.png" alt="logo ASP" />

</div>
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Lorem Ipsum er rett og slett dummytekst fra og for trykkeindustrien. Lorem Ipsum har vært bransjens standard for dummytekst helt siden 1500-tallet, da en ukjent boktrykker stokket en mengde bokstaver for å lage et prøveeksemplar av en bok. Lorem Ipsum har tålt tidens tann usedvanlig godt, og har i tillegg til å bestå gjennom fem århundrer også tålt spranget over til elektronisk typografi uten vesentlige endringer. Lorem Ipsum ble gjort allment kjent i 1960-årene ved lanseringen av Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.
        </p>
    </div>
</div>